@import '../../../../const.scss';

.menuInfo {
    position: absolute;

    z-index: $zindex3;

    width: max-content;
    height: max-content;

    background-color: $blue;

    padding: 20px;
    border-radius: 4px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.2),
                inset 5px 5px 5px rgba(241, 246, 255, 0.8),
                inset -5px -5px 5px  rgba(0, 0, 0, 0.2),
                inset -15px -15px 15px  rgba(0, 0, 0, 0.2);

    &__item {
        margin-bottom: 5px;

        &-wrap {
            padding: 5px;
            border-radius: 4px;
            background-color: white;
        }
    }

    &_none {
        display: none;
    }
}

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}