@import '../../../const.scss';

.pieChart {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $blue;
    }

    &__border {
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        
        z-index: $zindex2;

        border-radius: 50%;
        
        box-shadow: -5px -5px 4px rgba(241, 246, 255, 0.8),
                    5px 5px 5px rgba(0,0,0, 0.2),
                    15px 15px 15px rgba(0,0,0, 0.2),
                    -15px -15px 15px rgba(241, 246, 255),
                    inset 5px 5px 5px rgba(0,0,0, 0.2),
                    inset 15px 15px 15px rgba(0,0,0, 0.2),
                    inset -5px -5px 5px rgba(241, 246, 255, 0.8),
                    inset -15px -15px 15px rgba(241, 246, 255, 0.8);

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        
        z-index: 2;
    }

    &__midleСircle {
        width: 35%;
        height: 35%;

        border-radius: 50%;
        background-color: #e0e9f8;

        position: absolute;

        box-shadow: -2px -2px 4px rgba(241, 246, 255, 0.8),
                    5px 5px 5px rgba(0,0,0, 0.2),
                    21px 21px 21px rgba(0,0,0, 0.2),
                    inset -5px -5px 5px rgba(241, 246, 255, 0.8),
                    inset -21px -21px 21px rgba(241, 246, 255, 0.8);

                    z-index: 2;
    }

    &__midlPlug {
        width: 45%;
        height: 45%;
    
        border-radius: 50%;
    
        background-color: $blue;
    
        position: absolute;
        z-index: $zindex2;
    
        box-shadow: inset 5px 5px 5px rgba(0,0,0, 0.2),
                    inset 11px 11px 11px rgba(0,0,0, 0.1),
                    inset -5px -5px 5px rgba(241, 246, 255, 0.8),
                    -1px -1px 5px  rgba(0, 0, 0, 0.2),
                    -10px -10px 15px  rgba(0, 0, 0, 0.2),
                    1px 1px 2px rgba(0, 0, 0, 0.1),
                    3px 3px 3px rgba(0, 0, 0, 0.2),
                    15px 15px 15px white;


        &-Shadow {
            z-index: $zindex2;
            pointer-events: none;

            width: 90%;
            height: 90%;
            border-radius: 50%;

            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
                        1px 1px 2px rgba(0, 0, 0, 0.2),
                        inset 2px 2px 5px rgba(0, 0, 0, 0.2),
                        inset 12px 12px 15px white,
                        inset -5px -5px 10px rgba(0, 0, 0, 0.2),
                        inset -10px -10px 20px rgba(0, 0, 0, 0.2);
        }
    }

    &__notValid {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: $zindex3;

        font-size: 1.7rem;

        text-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.8),
                     5px 5px 5px  rgba(0, 0, 0, 0.2);
    }
}

.t55 {
    width: 90%;
    height: 90%;

    border-radius: 50%;

    overflow: hidden;

    background-color: $blue;

    position: absolute;
    z-index: $zindex1;

    box-shadow: 15px 15px 15px rgba(0,0,0, 0.2);
}
 

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}