@import '../../../../const.scss';

.poligon {
    width: 100%;
    height: 100%;
    filter: blur(10px);

    // box-shadow: -5px -5px 4px rgba(241, 246, 255, 0.8),
    //             5px 5px 5px rgba(0, 0, 0, 0.2),
    //             15px 15px 15px rgba(0, 0, 0, 0.2),
    //             -15px -15px 15px #f1f6ff;

    filter: drop-shadow(-5px -5px 4px rgba(0,0,0, 0.2));

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    &__after {
        position: absolute;
        background:  #e0e9f8;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}