$black: #444;
$white: rgb(244, 244, 244);
$shadowBlock: #bfbdbd33;
$shadow: #bfbdbd;
$shadow_dark: #0e0e0e;
$link: rgb(80, 160, 192);
$activate: rgb(255, 163, 38);
$blue: #e0e9f8;

$zindexPreloader: 10;


$zindex1: 1;
$zindex2: 2;
$zindex3: 3;