@import './const.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    line-height: 100%;
}

html, body {
    font-size: 100%;
    line-height: 100%;
    max-width: 100vw;

    overflow: hidden;
}